.container{
    background-color: ;

}


    ul > li
{
    list-style-type: none;
}
/* .qzbox{
    border: solid 5px red;
}
.qbox{
    border: solid 5px greenyellow;
}
.abox{
    
        border: solid 5px blue
    
    
}
.answer{
    border: solid 5px rgb(245, 76, 149)

}

 */
#question-0-0{
    border: solid 6pc red;}